# Discord Bot Token - Get from https://discord.com/developers/applications
DISCORD_TOKEN=MTQ5NjY5MDA1NTQ0NjUyODA4MQ.GAA9dk.oB2q2pBcRxYes4R03RiIqr6-4UhdhVR3aB6dz4 # Fake token, replace with your actual token

# Transcription Service - 'whisper' for local, 'google' for Google Speech API
TRANSCRIPTION_SERVICE=whisper


# Default text channel ID for transcriptions (optional)
DEFAULT_TEXT_CHANNEL_ID=your_channel_id_here
